html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

canvas {
  display: block;
}

@font-face {
  font-family: "OT Neue Montreal Regular";
  src: url("./assets/fonts/OTNeueMontreal-RegularSqueezed.woff");
}

@font-face{
  font-family: "OT Neue Montreal Bold";
  src: url("./assets/fonts/OTNeueMontreal-BoldSqueezed.woff");
}

/* Container for the vertical score bar */
.score-container {
  position: fixed;
  right: 0; /* Align to the right */
  top: 0;
  width: 40px; /* Adjust width for a vertical bar */
  height: 100vh; /* Full screen height */
  background-color: #c9c9c9;
  display: flex;
  flex-direction: column-reverse; /* Fill from bottom to top */
}

/* The progress bar inside */
.score-bar {
  width: 100%;
  height: 100%; /* Start at full height */
  background-color: #317cf5;
  transition: height 0.3s ease-in-out;
}


/* Score text */
.score-text {
  font-family: "OT Neue Montreal Regular", sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.85rem;
  font-weight: bold;
  color: #000;
  top: 2.5%;
}

.info-container{
  position: fixed;
  width: 100%;
}

.right-info{
  font-family: "OT Neue Montreal Regular", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.info-container div:nth-child(1){
  color: #317cf5;
}


.info-container div:nth-child(2){
  color: #317cf5;
}

#money_batch{
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#money_batch img{
  width: 100%;
  height: 100%;
}

#word_container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: none; /* Ensure no width limit */
  max-height: none; /* Ensure no height limit */
}


#word_display{
  color: #edde3b;
  font-family: "OT Neue Montreal Bold", sans-serif;
  font-size: 6rem;
  max-width: none; /* Ensure no width limit */
  max-height: none; /* Ensure no height limit */
}


#question_display{
  position: fixed;
  color: #edde3b;
  top: 25%;
  font-family: "OT Neue Montreal Regular", sans-serif;
  font-size: 3rem;
}

#outbox_tray{
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#hand{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hand img{
  width: 100%;
  height: 100%;
}

#email{
  z-index: 3;
  cursor: pointer;
}

#outbox_tray{
  display: none;
}

#outbox_tray img{
  width: 100%;
  height: 100%;
}

